body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f6f6f6;
}

h1 {
  color: #333;
}

.contenedor {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-top: 5px;
}

input,
button {
  margin-top: 5px;
  padding: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
  background: #eee;
  padding: 8px;
  border-radius: 5px;
}

.gasto {
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  /* Para gasto en general*/
}

.gasto button {
  margin-right: 5px;
  /* Para el boton*/
}

.gasto form {
  margin-top: 10px;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  /* Para formulario */
}

.botones {
  margin-top: 5px;
  /* Para los demas botones*/
}
